@import '../../assets/scss/_variables';
.add-project {
  margin-bottom: 100px;
}
.button-container {
  padding: 20px;
  position: fixed;
  min-height: 30px;
  bottom: 0;
  background: #fff;
  width: calc( 100% - 42px);
  left: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
